body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
   /* height: 500%;
    background: url(../imgs/ranking_background.jpg);*/
    background-color: black;
}

tr{
	color: black;
}
td{
	color: orange;
    font-weight: bold;
}
th{
    color: white;
}